<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
	<!-- <i class="icon-earth"></i> -->
	<img src="{{ asset('assets/images/earth.svg') }}" alt="" />
	<br>
	<span>
	  {{ ez_content_name( content ) }}
	</span>
</div>